/* corpo */

body{
    margin: 0%;
    background-color: var(--cor-fundo);
    color: white;
}

main{
    margin-left: var(--nav-width);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--size-characters);
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    gap: 1rem;
    box-sizing: border-box;
}

.border{
    border-bottom:1px solid rgba(255, 255, 255, 0.189);
}

.main-div{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secundaria);
    border-radius: 20px;
    padding: 2rem;
    border:1px solid rgba(255, 255, 255, 0.189);
    gap: 2rem;
}