:root {
    --cor-principal: #00ff1a;
    --altura-min-nav: 8vh;
    --altura-itens-nav: 2rem;
    --cor-itens-nav: white;
    --altura-caixa-carrocel: 50vh;
    --largura-caixa-carrocel: 100vw;
}

body {
    margin: 0%;
    box-sizing: border-box;
    font-size: 2rem; /* teste */
}

/* navegador */

nav {
    position: fixed;
    top: 0;
    background-color: var(--cor-principal);
    display: flex;
    align-items: center;
    height: var(--altura-min-nav);
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.logo, .menu {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    height: var(--altura-min-nav);
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.menu {
    right: 0;
    gap: 0.5rem;
}

.logo .nomeLogo {
    display: grid;
    place-items: center;
    background-color: var(--cor-itens-nav);
    border-radius: 20px;
    font-size: 2rem;
    color: black;
    padding: 0.5rem;
    height: var(--altura-itens-nav);
}

.menu .perfil {
    display: grid;
    place-items: center;
    background-color: var(--cor-itens-nav);
    border-radius: 50%;
    width: var(--altura-itens-nav);
    height: var(--altura-itens-nav);
    padding: 0.5rem;
}

/* main */

main {
    margin-top: var(--altura-min-nav);
    box-sizing: border-box;
}

/* main > sectionCarrocel > carrocel */

.sectionCarrocel {
    display: flex;
    position: relative;
    background-color: red; /*teste*/
    box-sizing: border-box;
}

.carrocel {
    overflow-x: hidden;
    display: flex;
}



.caixa{
    min-width: var(--largura-caixa-carrocel);
    background-color: blue; /*teste*/
    height: var(--altura-caixa-carrocel);
    width: var(--largura-caixa-carrocel);
    display: grid;
    place-items: center;
}

.modalidade{
    background-color: white;
    width: 80%;
    height: 80%;
}

/* main > sectionCarrocel > proximo/anterior */

.proximo, .anterior {
    position: absolute;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    height: 100%;
    display: grid;
    place-items: center;
}

.proximo {
    right: 0;
}

.anterior {
    left: 0;
}

/* main > texto */

.sectionTexto { /*teste*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

/* footer */


.carrocel>:nth-child(1) {
    background-color: yellow;
}
.carrocel>:nth-child(3) {
    background-color: yellow;
}
.carrocel>:nth-child(5) {
    background-color: yellow;
}