:root{
    --cor-fundo: black;
    --cor-secundaria: rgb(57, 56, 61);
}

body{
    margin: 0%;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: white;
}

main{
    margin-left: var(--nav-width);
    padding: 2rem;
    box-sizing: border-box;
}

main section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

main section div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}