:root {
    --altura-caixa-carrocel: 70vh;
    --largura-caixa-carrocel: 100%;
}

.carrossel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.caixas {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.caixa {
    position: absolute;
    width: var(--largura-caixa-carrocel);
    height: var(--altura-caixa-carrocel);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    background-color: rgb(255, 0, 0);
}

.caixa.ativo {
    position: static;
    opacity: 1;
    visibility: visible;
}

.pontos {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ponto {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.ponto:hover {
    cursor: pointer;
}

.ponto.ativo {
    background-color: #000000;
}