/* corpo */

body{
    margin: 0%;
    background-color: var(--cor-fundo);
    color: white;
}

main{
    margin-left: var(--nav-min-width);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--size-character);
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    gap: 1rem;
}

.border{
    border-bottom:1px solid rgba(255, 255, 255, 0.189);
    padding-bottom: 1rem;
}

.main-div{
    background-color: var(--cor-secundaria);
    border-radius: 20px;
    padding: 1rem;
    border:1px solid rgba(255, 255, 255, 0.189);
}

/* questao */

.alternativa.selecionada{
    background-color: rgb(209, 8, 8);
}


.questao{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.alternativas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.alternativa{
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    border:1px solid rgba(255, 255, 255, 0.189);
    background-color: var(--cor-terciaria);
    transition: 0.2s;
}

.alternativa:hover{
    transform: translateY(-0.2rem);
    transition: 0.2s;
}

.imagemAuxiliar img{
    width: 40dvw;
    height: 100%;
    object-fit: cover;
}

/* data-question */

.data-question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.botoes{
    display: flex;
    gap: 0.2rem;
}

.botoes > *{
    border-radius: 5px;
    border:1px solid rgba(255, 255, 255, 0.189);
    cursor: pointer;
}

.next,
.previous{
    text-align: center;
    background-color: var(--cor-terciaria);
    transition: 0.2s;
}

.next > div,
.previous > div{
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 2rem;
}

.numero-pergunta{
    margin: 0;
}

.next:hover,
.previous:hover{
    transform: translateY(-0.2rem);
    transition: 0.2s;
}

/* gabarito */

.gabarito{
    display: flex;
    flex-direction: column;
    gap: 2rem;
} 

.legendaGabarito{
    font-size: 2rem;
}

.linha{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.resposta-usuario,
.resposta-correta{
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.189);
    padding: 0.5rem;
}

.resposta-usuario.acertou{
    background-color: rgb(46, 195, 53);
}

.resposta-usuario.errou{
    background-color: rgb(179, 26, 26);
}