/* corpo */

body{
    margin: 0%;
    background-color: var(--cor-fundo);
    color: white;
}

main{
    margin-left: var(--nav-min-width);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--size-character);
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    gap: 1rem;
}

.border{
    border-bottom:1px solid rgba(255, 255, 255, 0.189);
    padding-bottom: 1rem;
}

/* section 1 */

main section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.main-div{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secundaria);
    border-radius: 20px;
    padding: 1rem;
    border:1px solid rgba(255, 255, 255, 0.189);
    gap: 2rem;
}

.border{
    border-bottom:1px solid rgba(255, 255, 255, 0.189);
    padding-bottom: 1rem;
}

main section:nth-child(1) .main-div > div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    gap: 1rem;
}


.start > button{
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    background-color: rgb(40, 234, 50);
    border:1px solid rgba(255, 255, 255, 0.189);
    transition:border 0.2s, transform 0.2s;
}

.start > button:hover{
    border:1px solid rgb(255, 255, 255);
    transform: translateY(-0.2rem);
    transition: 0.2s;
}

/* checkbox */

.checkbox-label{
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    padding: 1rem;
    border:1px solid rgba(255, 255, 255, 0.189);
    transition:border 0.2s, transform 0.2s;
}
.checkbox-label{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.checkbox-label:hover{
    border:1px solid rgb(255, 255, 255);
    transform: translateY(-0.2rem);
    transition: 0.2s;
}

.checkbox-label .checkbox-custom{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox-custom + div{
    position: absolute;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 100px;
    border:1px solid rgba(255, 255, 255, 0.189);
    opacity: 0;
    transition:background-color 0.2s, opacity 0.2s;
    font-size: 1.1rem;
    text-align: center;
    color: var(--cor-terciaria);
}

.checkbox-custom + div > div{
    transform: translateY(-0.3rem);
}

.checkbox-custom:checked + div{
    background-color: rgb(0, 255, 0);
    opacity: 1;
    transition: 0.2s;
}

/* questao */

.alternativa.selecionada{
    background-color: rgb(255, 72, 0);
}


.questao{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.alternativas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.alternativa{
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    border:1px solid rgba(255, 255, 255, 0.189);
    background-color: var(--cor-terciaria);
    transition: 0.2s;
}

.alternativa:hover{
    transform: translateY(-0.2rem);
    transition: 0.2s;
}

.imagemAuxiliar img{
    width: 40dvw;
    height: 100%;
    object-fit: cover;
}

/* data-question */

.data-question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.botoes{
    display: flex;
    gap: 0.2rem;
}

.botoes > *{
    border-radius: 5px;
    border:1px solid rgba(255, 255, 255, 0.189);
    cursor: pointer;
}

.next,
.previous{
    text-align: center;
    background-color: var(--cor-terciaria);
    transition: 0.2s;
}

.next > div,
.previous > div{
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 2rem;
}

.numero-pergunta{
    margin: 0;
}

.next:hover,
.previous:hover{
    transform: translateY(-0.2rem);
    transition: 0.2s;
}

/* gabarito */

.gabarito{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
} 

.legenda-gabarito{
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
}

.linha{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.resposta-usuario,
.resposta-correta{
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.189);
    padding: 0.5rem;
}

.resposta-usuario.acertou{
    background-color: rgb(46, 195, 53);
}

.resposta-usuario.errou{
    background-color: rgb(179, 26, 26);
}