/* corpo */

body{
    margin: 0%;
    background-color: var(--cor-fundo);
    color: white;
    overflow-x: hidden;
}

main{
    margin-left: var(--nav-width);
    padding: 1rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* section 1*/

main > section:nth-child(1){
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 1rem;
}

.main-div{
    background-color: var(--cor-secundaria);
    border-radius: 20px;
    padding: 1rem;
    border:1px solid rgba(255, 255, 255, 0.189);
}

.img-account{
    height: 20rem;
    width: 20rem;
}

.img-account > div{
    background-color: var(--cor-terciaria);
    width: 100%;
    height: 100%;
    position: relative;
}

.img-account img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.img-account > div > label{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.589);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 1rem;
    transition: 0.2s;
    cursor: pointer;
}

.img-account > div:hover > label{
    opacity: 1;
    transition: 0.2s;
}

#modifyImg{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

.data-account{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.data-account > div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.data-account > div > div{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

/* grafico */

.graphic-div{
    background-color: white;
    padding: 3rem;
}

/* section 2*/

main > section:nth-child(2){
    display: grid;
    width: 100%;
    grid-template-columns:repeat(auto-fill, minmax(9rem, 1fr));
    gap: 1rem;
}

.profileImg {
    cursor: pointer;
    border-radius: 100px;
    transition: transform 0.2s;
    height: 5rem;
}

.profileImg:hover {
    transform: scale(1.1);
}

.hidden{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
    box-sizing: border-box;
}

@media (max-width: 430px){
    
    .data-account{
        font-size: 0.8rem;
        width: 100%;
    }

    main > section:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-account{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-account> div{
        height: 100%;
    }
}