/* corpo */

body{
    margin: 0%;
    background-color: var(--cor-fundo);
    color: white;
}

main{
    margin-left: var(--nav-width);
    padding: 1rem;
    font-size: var(--size-character);
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* section 1*/

main section:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-div{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secundaria);
    border-radius: 20px;
    padding: 1rem;
    border:1px solid rgba(255, 255, 255, 0.189);
    gap: 2rem;
}


.secondary-div{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    padding: 1rem;
    border:1px solid rgba(255, 255, 255, 0.189);
}

.border{
    border-bottom:1px solid rgba(255, 255, 255, 0.189);
    padding-bottom: 1rem;
}

main section:nth-child(1) .main-div > div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    gap: 1rem;
}

main section:nth-child(1) .main-div > div > div{
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    padding: 1rem;
    border:1px solid rgba(255, 255, 255, 0.189);
}

main section:nth-child(1) .main-div > div > div:hover{
    transform: translateY(-0.2rem);
    transition: 0.2s;
}

.start > button{
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    background-color: rgb(40, 234, 50);
}

/* checkbox */

.checkbox-label{
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    padding: 1rem;
    border:1px solid rgba(255, 255, 255, 0.189);
    transition:border 0.2s, transform 0.2s;
}
.checkbox-label{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.checkbox-label:hover{
    border:1px solid rgb(255, 255, 255);
    transform: translateY(-0.2rem);
    transition: 0.2s;
}

.checkbox-label .checkbox-custom{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox-custom + div{
    position: absolute;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 100px;
    border:1px solid rgba(255, 255, 255, 0.189);
    opacity: 0;
    transition:background-color 0.2s, opacity 0.2s;
    font-size: 1.1rem;
    text-align: center;
    color: var(--cor-terciaria);
}

.checkbox-custom + div > div{
    transform: translateY(-0.3rem);
}

.checkbox-custom:checked + div{
    background-color: rgb(0, 255, 0);
    opacity: 1;
    transition: 0.2s;
}

/* botes */

.coming-soon{
    background-color: aqua;
    pointer-events: none;
}

.button-custom{
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    padding: 1rem;
    border:1px solid rgba(255, 255, 255, 0.189);
    transition:border 0.2s, transform 0.2s;
}
.button-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.button-custom:hover{
    border:1px solid rgb(255, 255, 255);
    transform: translateY(-0.2rem);
    transition: 0.2s;
}

.button-text{
    font-size: var(--size-character);
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}

/* section 2 */

main section:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#filtro{
    cursor: pointer;
}

#filtro > option{
    cursor: pointer;
}

.linha{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.coluna{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-right: 1px solid rgba(255, 255, 255, 0.189);
}

.border-right{
    border-right: 0;
}

.selected{
    background-color: rgb(98, 97, 105);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19); */
}

.legendas.selected{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#ranking-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.first{
    background-color: rgb(220, 220, 51);
}

.second{
    background-color: rgb(186, 186, 186);
}

.third{
    background-color: rgb(255, 149, 0);
}

.podium,
.outher{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#ranking-content{
    display: flex;
    gap: 2rem;
} 

.imgProfile > img{
    height: 3rem;
    border-radius: 50%;
    transform: scale(1.5);
}