body{
    margin: 0%;
    background-color: var(--cor-fundo);
    color: rgb(255, 255, 255);
}

main{
    margin-left: var(--nav-width);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    gap: 1rem;
}

.border{
    border-bottom:1px solid rgba(255, 255, 255, 0.189);
    padding-bottom: 1rem;
}

.main-div{
    background-color: var(--cor-secundaria);
    border-radius: 20px;
    padding: 1rem;
    border:1px solid rgba(255, 255, 255, 0.189);
    width: 60dvw;
}

.legenda-cadastro{
    font-size: 1.8rem;
    text-align: center;
}

.button-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.button-login button{
    background-color: var(--cor-terciaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.189);
    transition: transform 0.2s;
}

.button-login button:hover{
    transform: translateY(-0.2rem);
    transition: transform 0.2s;
}

#register-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cadastrar > label{
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
}

input[type="submit"] {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

button:hover, .cadastrar > label:hover {
    transform: translateY(-0.2rem);
    transition: 0.2s;
}

.error-message {
    color: red;
    margin-top: 10px;
}